.studentsPage {
    padding: 20px;
  }
  
  .studentCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  